.detail {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(226, 236, 226, 0.781);
  border-radius: 10px;
}
.detail span {
  font-weight: 800;
}
.detail__back {
  display: flex;
  align-items: center;
  place-items: center;
  place-content: center;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  letter-spacing: 0.2rem;
  background-color: rgba(226, 236, 226, 0.781);
  transition: all 300ms ease 500ms;
  cursor: pointer;
}
.detail__back:hover {
  background-color: rgba(5, 82, 37, 0.473);
  color: rgba(226, 236, 226, 0.781);
}

.country {
  display: flex;
  gap: 40px;
  place-items: center;
  padding: 15px 0;
}
.country__title {
  padding-bottom: 20px;
}
.country__img {
  flex: 0 0 50%;
  background-size: contain;
  width: 100%;
  padding: 0 0 380px 0;
  background-position: center;
  background-repeat: no-repeat;
}
.country__info {
  flex: 0 1 50%;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.country__info p {
  margin-bottom: 10px;
}
.country__info--one, .country__info--two {
  flex: 0 0 50%;
}

.border {
  display: flex;
  place-items: center;
  padding: 20px 0;
}
.border h3 {
  flex: 0 1 20%;
  padding-right: 20px;
}
.border__info {
  flex: 0 1 80%;
}
.border ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 10px;
  align-items: center;
}
.border li {
  padding: 5px 10px;
  transition: all 300ms ease 500ms;
  align-items: center;
}
.border li:hover {
  background-color: rgba(5, 82, 37, 0.473);
  color: rgba(226, 236, 226, 0.781);
  border-radius: 5px;
}
.border a {
  color: rgba(3, 27, 3, 0.781);
}

@media (max-width: 800px) {
  .country {
    flex-direction: column;
    gap: 20px;
  }
  .country__info {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .country {
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
  }
  .country__img {
    padding: 0 0 250px 0;
  }
  .country .border {
    padding-top: 10px;
  }
}