@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4dede;
  font-family: "PT Sans", sans-serif;
  color: #474646;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #474646;
}

input {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 300px;
  padding: 10px 50px;
  box-shadow: 5px 5px 20px 5px #c9c6c6;
  outline: 0;
}

.wrapper {
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

header {
  height: 90px;
  box-shadow: 5px 5px 30px 5px #c9c6c6;
  font-size: 22px;
}

.active-link {
  color: #8f8d8d;
}

.header {
  display: flex;
  place-items: center;
  padding: 30px 0px;
  justify-content: space-between;
}
.header__burger {
  display: none;
}
.header p {
  letter-spacing: 0.1rem;
}
.header__list {
  display: flex;
}
.header li {
  margin-right: 20px;
  position: relative;
  letter-spacing: 0.1rem;
}
.header li:last-child {
  padding: 0;
}
.header li:before {
  position: absolute;
  bottom: -10px;
  content: " ";
  border-bottom: 2px solid #8f8d8d;
  transform: scale(0, 1);
  width: 100%;
  transition: transform 0.3s;
}
.header li:hover:before {
  transform: scale(1, 1);
}

@media (max-width: 800px) {
  .header__burger {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 12;
  }
  .header__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    gap: 20px;
    right: 0;
    top: 0;
    bottom: 0;
    left: -100%;
    transition: left 1s;
    background-color: #8f8d8d;
    z-index: 10;
  }
  .header__list-active {
    left: 0;
  }
  .header li {
    font-size: 44px;
  }
  .header li:before {
    border-bottom: 2px solid white;
  }
  .header li a {
    color: white;
  }
}
.page {
  padding: 40px 0;
  text-align: justify;
  font-size: 24px;
}
.page h1 {
  letter-spacing: 0.3rem;
}
.page p {
  padding: 10px 0;
}
.page h3 {
  padding: 15px;
  letter-spacing: 0.3rem;
}
.page li {
  padding: 10px 0;
  margin: 10px 0;
}
.page .read-more {
  display: flex;
  place-items: center;
}
.page a {
  background-color: rgba(248, 240, 240, 0.8549019608);
  border-radius: 15px;
  padding: 0px 50px;
  transition: all 300ms ease 500ms;
  line-height: 48px;
  letter-spacing: 0.6rem;
}
.page a:hover {
  transform: scale(1.1);
  background-color: rgba(194, 105, 194, 0.534);
}

.filters {
  padding: 60px 0;
  display: flex;
  place-content: center;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .filters {
    flex-direction: column;
    justify-content: start;
    gap: 10px;
  }
}

.search {
  position: relative;
}
.search input {
  font-size: 18px;
  font-family: "PT Sans", sans-serif !important;
  background-color: rgba(252, 246, 246, 0.9921568627);
  letter-spacing: 0.2rem;
}
.search span {
  position: absolute;
  top: 15px;
  left: 20px;
}

.card {
  width: 320px;
  background-color: #eeeaea;
  box-shadow: 5px 5px 30px 5px #c9c6c6;
  border-radius: 8px;
  overflow: hidden;
  font-size: 22px;
  transition: all 300ms ease 500ms;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 30px 5px rgba(217, 147, 252, 0.4431372549);
}
.card .card__img {
  background-size: cover;
  width: 100%;
  padding: 0 0 180px 0;
  background-position: center;
  background-repeat: no-repeat;
}
.card .card__info {
  padding: 30px;
  color: #474646;
}
.card .card__info h3 {
  padding-bottom: 15px;
}
.card .card__info p {
  padding-bottom: 4px;
}
.card .card__info p:last-child {
  padding: 0;
}
.card .card__info span {
  font-weight: 800;
}

.react-select-container {
  font-family: "PT Sans", sans-serif !important;
  font-size: 16px !important;
  border-radius: 10px !important;
  letter-spacing: 0.1rem;
}

.react-select {
  border: none !important;
  outline: none !important;
}
.react-select__menu {
  background-color: rgba(252, 246, 246, 0.9921568627) !important;
  padding: 10px 20px !important;
}
.react-select__control {
  background-color: rgba(252, 246, 246, 0.9921568627) !important;
  width: 250px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  border: none !important;
  padding: 10px 20px !important;
}
.react-select__control:hover {
  border-color: none !important;
}
.react-select__control--menu-is-open {
  background-color: rgba(252, 246, 246, 0.9921568627) !important;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  grid-gap: 40px;
  place-items: center;
  place-content: center;
}

.detail {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  font-size: 20px;
}
.detail span {
  font-weight: 800;
}
.detail__back {
  display: flex;
  align-items: center;
  place-items: center;
  place-content: center;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  letter-spacing: 0.2rem;
  background-color: rgba(248, 240, 240, 0.8549019608);
  transition: all 300ms ease 500ms;
}
.detail__back:hover {
  box-shadow: 5px 5px 30px 5px #c9c6c6;
}

.country {
  display: flex;
  gap: 40px;
  place-items: center;
  padding: 15px 0;
}
.country__title {
  padding-bottom: 20px;
}
.country__img {
  flex: 0 0 50%;
  background-size: contain;
  width: 100%;
  padding: 0 0 380px 0;
  background-position: center;
  background-repeat: no-repeat;
}
.country__info {
  flex: 0 1 50%;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.country__info p {
  margin-bottom: 10px;
}
.country__info--one,
.country__info--two {
  flex: 0 1 50%;
}
.country__border {
  display: flex;
  place-items: center;
  padding: 30px 0;
}
.country__border h3 {
  flex: 0 1 20%;
  padding-right: 20px;
}
.country__border ul {
  flex: 0 1 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 10px;
  align-items: center;
}
.country__border li {
  padding: 3px 10px;
  transition: all 300ms ease 500ms;
}
.country__border li:hover {
  box-shadow: 5px 5px 30px 5px #c9c6c6;
} /*# sourceMappingURL=App.css.map */
